In [ ]:
import pandas as pd
import numpy as np

# Lee solo hasta la fila 643
ds = pd.read_csv('./data/Censo_ESPOL_La Unión_2022 - ACTUALIZADO AL 18 JULIO 22(1)(COPIA TABLA LU).csv', encoding='utf-8', nrows=643, delimiter=';')

# Generar números únicos aleatorios de 8 dígitos
unique_ids = np.random.choice(range(10000000, 99999999), size=len(ds), replace=False)

# Asignar la lista de IDs únicos al DataFrame
ds['ID'] = unique_ids

# Mostrar las primeras filas para verificar
ds.head()

TypeError: read_csv() got an unexpected keyword argument 'errors'

In [50]:
ds = ds[['ID'] + [col for col in ds.columns if col != 'ID']]
ds

,ID,Practicante,Cï¿½digo de la casa,Apellidos,Nombres,Cï¿½dula,ï¿½Es jefe de hogar?,Parentesco (con respecto al jefe de hogar),Sexo,Edad 2022,...,VESTIDOS,TRANSPORTE,OTROS GASTOS,"CONFIRMACION CURSO (1:SI, 2:NO)",PARENTESCO2,TIPO DE CURSO,PARA CONTAR LOS 643 habitantes,MENOR O MAYOR DE EDAD,TERCERA EDAD,OTRA EMPRESA
0,67293904,AGUIRRE MARCO,100,Achiote Dominguez,Andreina Katherine,928818327.0,1,1,2,25,...,NaN,NaN,NaN,NaN,NaN,NaN,1,MAYOR DE EDAD,NO ES TERCERA EDAD,SI
1,97350523,AGUIRRE MARCO,100,Cruz Torres,Arelis Angelina,958390536.0,2,2,2,8,...,NaN,NaN,NaN,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
2,35728522,AGUIRRE MARCO,100,Cruz Torres,Kimberly Kathiuska,960691251.0,2,2,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
3,93455852,AGUIRRE MARCO,100,Cruz Achiote,Yarezi Francesca,964403760.0,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
4,83227783,AGUIRRE MARCO,100,Cruz Torres,Mayerly Maite,954451811.0,2,2,2,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,73440750,REYES KIMBERLY,303,Dominguez Cruz,Eddy Xavier,929953008.0,1,JEFE HOGAR,1,25,...,1,1,1,NaN,NaN,NaN,1,MAYOR DE EDAD,NO ES TERCERA EDAD,SI
639,94737480,REYES KIMBERLY,303,Ramirez Villanueva,Magaly Dayana,929952257.0,2,1,2,22,...,ï¿½,ï¿½,ï¿½,NaN,NaN,NaN,1,MAYOR DE EDAD,NO ES TERCERA EDAD,SI
640,90180581,REYES KIMBERLY,303,Dominguez Ramirez,Sheyla Iveth,962428165.0,2,2,2,4,...,ï¿½,ï¿½,ï¿½,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
641,23165148,REYES KIMBERLY,303,Dominguez Ramirez,Yerick Misael,964710727.0,2,2,1,1,...,ï¿½,ï¿½,ï¿½,NaN,NaN,NaN,1,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
642,23929595,PALACIOS JEAN PIERRE,304,Ramirez Torres,Francisco Angel,25233222.0,1,JEFE HOGAR,1,45,...,1,1,4,2.0,1.0,NaN,1,MAYOR DE EDAD,NO ES TERCERA EDAD,NO

In [52]:
ds1 = ds.iloc[:, 0:15]
ds1

,ID,Practicante,Cï¿½digo de la casa,Apellidos,Nombres,Cï¿½dula,ï¿½Es jefe de hogar?,Parentesco (con respecto al jefe de hogar),Sexo,Edad 2022,Edad 03/2017,RECIEN NACIDOS (X: si es <= 4 aï¿½os,NO CENSADO,NUEVO CENSADO,Observaciï¿½n
0,67293904,AGUIRRE MARCO,100,Achiote Dominguez,Andreina Katherine,928818327.0,1,1,2,25,20,NaN,NaN,NaN,S1
1,97350523,AGUIRRE MARCO,100,Cruz Torres,Arelis Angelina,958390536.0,2,2,2,8,3,NaN,NaN,NaN,S1
2,35728522,AGUIRRE MARCO,100,Cruz Torres,Kimberly Kathiuska,960691251.0,2,2,2,6,NaN,NaN,NaN,x,S1
3,93455852,AGUIRRE MARCO,100,Cruz Achiote,Yarezi Francesca,964403760.0,2,2,2,2,NaN,X,NaN,x,S1
4,83227783,AGUIRRE MARCO,100,Cruz Torres,Mayerly Maite,954451811.0,2,2,2,10,5,NaN,NaN,NaN,S1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,73440750,REYES KIMBERLY,303,Dominguez Cruz,Eddy Xavier,929953008.0,1,JEFE HOGAR,1,25,20,NaN,NaN,X,S2
639,94737480,REYES KIMBERLY,303,Ramirez Villanueva,Magaly Dayana,929952257.0,2,1,2,22,17,NaN,NaN,X,S2
640,90180581,REYES KIMBERLY,303,Dominguez Ramirez,Sheyla Iveth,962428165.0,2,2,2,4,NaN,X,NaN,X,S2
641,23165148,REYES KIMBERLY,303,Dominguez Ramirez,Yerick Misael,964710727.0,2,2,1,1,NaN,X,NaN,X,S2
642,23929595,PALACIOS JEAN PIERRE,304,Ramirez Torres,Francisco Angel,25233222.0,1,JEFE HOGAR,1,45,41,NaN,NaN,NaN,S3

In [58]:
ds2 = ds.iloc[:, 15:36]
# Agregar la columna 'ID' de 'ds' a 'ds2'
ds2['ID'] = ds['ID']
ds2 = ds2[['ID'] + [col for col in ds2.columns if col != 'ID']]
ds2

,ID,CUANTO TIEMPO HA VIVIDO EN LA CASA?,TENENCIA DE LA VIVIENDA,VIA DE ACCESO,TIPO DE VIVIENDA,MATERIAL PREDOMINANTE DEL TECHO,MATERIAL PREDOMINANTE VIVIENDA,POSEE ENERGIA ELECTRICA?,COCINA PRINCIPALMENTE CON?,ABASTECIMIENTO DE AGUA,...,CANTIDAD DE AGUA ABASTECIDA,CALIDAD DEL AGUA,TIPO DE SERVICIO HIGIENICO,ELIMINACION DE LA BASURA,TIENE TELEVISION PAGADA/CABLE,CUANTO PAGA?,SERVICIO DE INTERNET,CUANTO PAGA DE INTERNET?,SERVICIO DE TELEFONIA CONVENCIONAL,CUANTO PAGA DE TELEFONIA?
0,67293904,5.0,1.0,2,1.0,3.0,1.0,2.0,1.0,2,...,2,2,3.0,1,2.0,NaN,1.0,4.0,2.0,NaN
1,97350523,5.0,1.0,2,1.0,3.0,1.0,2.0,1.0,2,...,2,2,3.0,1,2.0,NaN,1.0,4.0,2.0,NaN
2,35728522,5.0,1.0,2,1.0,3.0,1.0,2.0,1.0,2,...,2,2,3.0,1,2.0,NaN,1.0,4.0,2.0,NaN
3,93455852,5.0,1.0,2,1.0,3.0,1.0,2.0,1.0,2,...,2,2,3.0,1,2.0,NaN,1.0,4.0,2.0,NaN
4,83227783,5.0,1.0,2,1.0,3.0,1.0,2.0,1.0,2,...,2,2,3.0,1,2.0,NaN,1.0,4.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,73440750,3.0,1.0,3,1.0,3.0,2.0,3.0,1.0,2,...,2,2,4.0,"1,2",2.0,NaN,2.0,NaN,2.0,NaN
639,94737480,3.0,1.0,3,1.0,3.0,2.0,3.0,1.0,2,...,2,2,4.0,"1,2",2.0,NaN,2.0,NaN,2.0,NaN
640,90180581,3.0,1.0,3,1.0,3.0,2.0,3.0,1.0,2,...,2,2,4.0,"1,2",2.0,NaN,2.0,NaN,2.0,NaN
641,23165148,3.0,1.0,3,1.0,3.0,2.0,3.0,1.0,2,...,2,2,4.0,"1,2",2.0,NaN,2.0,NaN,2.0,NaN
642,23929595,1.0,1.0,3,1.0,3.0,1.0,2.0,1.0,2,...,2,2,1.0,1,2.0,NaN,1.0,4.0,2.0,NaN

In [59]:
ds3 = ds.iloc[:, 36:44]
ds3['ID'] = ds['ID']
ds3 = ds3[['ID'] + [col for col in ds3.columns if col != 'ID']]
ds3

,ID,NIVEL DE EDUCACION,CURSO,TIENE DISCAPACIDAD,TIPO DE DISCAPACIDAD QUE PADECE,RECIBE EL BONO POR PARTE DEL ESTADO?,CARNE DISCAPACIDAD,ETNIA,ESTADO CIVIL
0,67293904,1.0,NaN,2,NaN,1,2,6,2.0
1,97350523,1.0,NaN,2,NaN,1,2,6,6.0
2,35728522,1.0,NaN,2,NaN,1,2,6,6.0
3,93455852,1.0,NaN,2,NaN,1,2,6,6.0
4,83227783,1.0,NaN,2,NaN,1,2,6,6.0
...,...,...,...,...,...,...,...,...,...
638,73440750,1.0,2.2,2,NaN,2,2,6,2.0
639,94737480,3.0,1.1,2,NaN,2,2,6,2.0
640,90180581,NaN,NaN,2,NaN,2,2,6,6.0
641,23165148,NaN,NaN,2,NaN,2,2,6,6.0
642,23929595,1.0,1.0,2,NaN,2,2,6,1.0

In [60]:
ds4 = ds.iloc[:, 44:53]
ds4['ID'] = ds['ID']
ds4 = ds4[['ID'] + [col for col in ds4.columns if col != 'ID']]
ds4

,ID,TRABAJA?,TIEMPO DE TRABAJO (en aï¿½os),OCUPACION ACTUAL/DONDE,LUGAR,ALIMENTOS,VIVIENDA,VESTIDOS,TRANSPORTE,OTROS GASTOS
0,67293904,1,Toda la vida,AMA DE CASA,LU,NaN,NaN,NaN,NaN,NaN
1,97350523,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35728522,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93455852,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,83227783,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
638,73440750,1,NaN,PESCADOR,LU,2,1,1,1,1
639,94737480,1,Toda la vida,AMA DE CASA,LU,ï¿½,ï¿½,ï¿½,ï¿½,ï¿½
640,90180581,2,NaN,NaN,NaN,ï¿½,ï¿½,ï¿½,ï¿½,ï¿½
641,23165148,2,NaN,NaN,NaN,ï¿½,ï¿½,ï¿½,ï¿½,ï¿½
642,23929595,1,15,OBRERO,PRODUMAR,3,2,1,1,4